<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
  https://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="s1" class="com.kodnest.bean.Student"> 
 	<property name="id" value="1"></property>
 	<property name="name" value="Mouli"></property>
  </bean>
  <bean id="v1" class="com.kodnest.bean.Vehicle"> 
 	<property name="vname" value="KTM"></property>
 	<property name="vprice" value="350000"></property>
 	<!-- Wiring by two classes -->
 	<property name="student" ref="s1"></property>
  </bean>
  
</beans>
